<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy of LWK Weather WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Glance - LWK Weather WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LWK Weather WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LWKWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SharedCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B672ED6A1B1BDAE3009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B672ED741B1BDAE4009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B672EDA61B1D3391009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A607D81A5E279D00CFDA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A607ED1A5E279D00CFDA0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
