<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DarwinBridge WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DarwinBridge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DarwinBridgeCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B672ECF31B1B7A81009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B672ED081B1B7A81009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B672ED261B1B7A8F009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B672ED411B1B86C3009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B672ED4B1B1B86C3009CFE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
